version: "3.8"

services:

  database:
    image: postgres:15
    container_name: directus_db
    restart: always
    environment:
      POSTGRES_DB: directus
      POSTGRES_USER: directus
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data

  directus:
    image: directus/directus:latest
    container_name: directus_app
    restart: always
    ports:
      - "8055:8055"
    depends_on:
      - database
    environment:
      KEY: ${DIRECTUS_SECRET}
      SECRET: ${DIRECTUS_SECRET}

      DB_CLIENT: pg
      DB_HOST: database
      DB_PORT: 5432
      DB_DATABASE: directus
      DB_USER: directus
      DB_PASSWORD: ${DB_PASSWORD}

      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

      PUBLIC_URL: http://localhost:8055

    volumes:
      - directus_uploads:/directus/uploads

volumes:
  db_data:
  directus_uploads: